@model IEnumerable<BodegaUDB.Models.Producto>

<h2>Lista de Productos</h2>

@if (Model == null || !Model.Any())
{
    <div class="alert alert-warning">No hay productos listados.</div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre del Producto</th>
                <th>Lote</th>
                <th>Categoría</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var producto in Model)
            {
                <tr>
                    <td>@producto.DetalleProducto.Nombre</td>
                    <td>@producto.SerieLoteNavigation.NumSerie</td>
                    <td>@producto.CategoriaProductoNavigation.Nombre</td>
                    <td>
                        <a href="@Url.Action("Editar", "Producto", new { id = producto.IdProducto })" class="btn btn-primary">Editar</a>
                        <a href="@Url.Action("Borrar", "Producto", new { id = producto.IdProducto })" class="btn btn-danger">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<a href="@Url.Action("CrearProducto", "Home")" class="btn btn-success">Crear Nuevo Producto</a>

